@font-face {
  font-family: "Source Sans";
  src: url(../fonts/SourceSansPro-Regular.ttf); }
@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/BebasNeue.otf); }
body {
  line-height: 1.5em; }

div#top,
div#side,
div#main {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  clear: both;
  font-family: "Source Sans"; }

div#top {
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #1e1e1e; }
  div#top form {
    height: 100%; }
  div#top button,
  div#top select,
  div#top input {
    height: 100%;
    border-radius: 5px;
    background-color: white;
    border: 1px solid transparent;
    font-size: 0.9em;
    padding: 0 12px;
    margin-right: 5px;
    vertical-align: top;
    box-sizing: border-box; }
  div#top select {
    min-width: 200px; }
  div#top input#selectK {
    width: 7em;
    margin-left: 5px; }
  div#top button {
    background-color: #969696;
    transition: 0.25s;
    border: none; }
    div#top button:hover {
      background-color: gainsboro; }
    div#top button i {
      margin-left: 10px;
      font-size: 1.2em; }
  div#top button.generateCommunities {
    background-color: #aae682;
    float: right;
    margin-right: 0; }
    div#top button.generateCommunities i {
      transition: 0.25s; }
    div#top button.generateCommunities:hover {
      background-color: gainsboro; }
      div#top button.generateCommunities:hover i {
        margin-right: -5px;
        margin-left: 15px; }

div#side {
  top: 60px;
  left: 0;
  width: 350px; }
  div#side div#evaluation {
    border-radius: 5px;
    background-color: #969696;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    font-size: 0.9em;
    display: none; }
  div#side div#communities {
    border-radius: 5px;
    border: 1px solid #969696;
    margin: 10px 0;
    display: none; }
    div#side div#communities div.community {
      border-bottom: 1px solid #969696; }
      div#side div#communities div.community.active {
        background-color: gainsboro; }
      div#side div#communities div.community:last-child {
        border-bottom: none; }
      div#side div#communities div.community button.community-button {
        padding: 10px;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        box-sizing: border-box;
        height: 42px;
        margin-left: 0;
        transition: 0.25s; }
        div#side div#communities div.community button.community-button div.community-color {
          width: 20px;
          height: 20px;
          background-color: #646464;
          display: inline-block;
          vertical-align: middle;
          border-radius: 50%; }
        div#side div#communities div.community button.community-button div.community-name {
          display: inline-block;
          vertical-align: middle;
          font-size: 1.2em;
          margin-left: 10px; }
        div#side div#communities div.community button.community-button:hover {
          margin-left: 8px; }
      div#side div#communities div.community div.community-wordcloud {
        margin-left: 10px;
        height: 0;
        overflow: hidden; }
  div#side div#options button {
    width: 100%;
    height: 100%;
    background-color: #aae682;
    transition: 0.25s;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 0.8em;
    margin-bottom: 10px; }
    div#side div#options button:hover {
      background-color: gainsboro; }

div#main {
  top: 60px;
  left: 350px;
  width: calc(100% - 350px); }
  div#main div.communityOptions {
    position: absolute;
    border-radius: 5px;
    border: 1px #969696 solid;
    width: 200px;
    background-color: #FFF; }
    div#main div.communityOptions button {
      display: block;
      width: 100%;
      text-align: center;
      padding: 10px;
      background-color: transparent;
      font-size: 1em;
      border: none;
      border-bottom: 1px #969696 solid;
      transition: 0.25s; }
      div#main div.communityOptions button:last-child {
        border-bottom: none; }
      div#main div.communityOptions button:hover {
        color: #969696; }
  div#main .selectedNode {
    display: none; }

/* General */
select,
button,
input {
  font-family: "Source Sans"; }

/* Graph */
.node {
  stroke: #fff;
  stroke-width: 1.5px; }

.link {
  stroke: #646464;
  stroke-opacity: 0.6; }

.blendCircle {
  mix-blend-mode: multiply; }

/*# sourceMappingURL=style.css.map */
